.containerTitle {
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.containerTitle .tittle {
    color: #fff;
    font-size: 40px;

}

.divisor {
    margin-top: 2em;
    border-bottom: 1px solid #fffcfc;
}


@media screen and (max-width: 800px){
    .tittle{
        margin: 0 auto;
    }
}